.card {
      background: rgba(255, 255, 255, 0.9);
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.15);
      padding: 30px;
      max-width: 600px;
      width:600px;
      animation: fadeIn 0.5s ease;
    
    }

    .card h2 {
      text-align: center;
      color: #4e54c8;
      margin-bottom: 10px;
    }

    .card p {
      margin: 8px 0;
      line-height: 1.5;
    }

    .highlight {
      color: #4e54c8;
      font-weight: bold;
    }